params {

	// input files

    genome_chunks_list = "${System.env.work_dir}/data/sample_metadata/pcawg_tcga_hartwig_aggregated_vcf_autosomal_chunks_paths.tsv"
    sample_list = "${System.env.work_dir}/data/sample_metadata/pcawg_tcga_hartwig_sample_ids.tsv"
    sample_metadata = "${System.env.work_dir}/data/sample_metadata/pcawg_tcga_hartwig_metadata.tsv"
    high_LD_regions = "${System.env.work_dir}/data/high_LD_regions/high-LD-regions-hg19-GRCh37.tsv"
    good_mappability_regions = "${System.env.work_dir}/data/good_mappability_regions/CRG75_nochr.bed"
    gold_standard_allele_freqs = "${System.env.work_dir}/data/UKBB_SNP_freqs/ukbb_SNP_freqs_DUMMY.tsv"
    plink_path = "/usr/bin/plink" // path within .sif container
    original_continuous_phenotype = "${System.env.work_dir}/data/alexandrov_cosmic_exposures/pcawg_tcga_hartwig__SBS1_mutburden_norm.tsv" //__total_mutburden_norm.tsv"


	// parameter values

	bcftools_threads = 4
	qc_geno = 0.1
	qc_maf = 0.01
	qc_hwe = 1e-6
	qc_mind = 0.1
	qc_het_SD = 3
	prune_window_size = 50 // n SNPs within window
	prune_step_size = 5 // n SNPs shifted downstream
	prune_r2 = 0.8
    PCs_ancestry_clustering = 10
    clustering_outliers_trimmed = 0.05
    clustering_restriction_factor = 1
    allele_freq_deviation = 0.1
	mac = 1
    PCs_covariates = 20
    clump_p1 = 1e-5
    clump_kb = 500
    clump_r2 = 0.5
    thr_signif_pval = 1e-20


	// time, memory, and partition per process demands

    time_4h = 4	// short
    time_10h = 10 // medium
    time_1d = 24 // long
    time_2d = 48 // very long
    memory_700M = 0.7 // low
    memory_4G = 4 // medium
    memory_10G = 10 // high
    memory_50G = 50 // very high
	partition_fast_short = "${System.env.partition_fast_short}"
	partition_slow_long = "${System.env.partition_slow_long}"
	partition_slowest_unlimited = "${System.env.partition_slowest_unlimited}"
}

