params {

	// input files

    genome_chunks_list = "${System.env.work_dir}/data/sample_metadata/cancer_analysis_aggregated_vcf_autosomal_chunks_paths.tsv"
    sample_list = "${System.env.work_dir}/data/sample_metadata/cancer_analysis_sample_ids.tsv"
    sample_metadata = "${System.env.work_dir}/data/sample_metadata/cancer_analysis_metadata.tsv"
    high_LD_regions = "${System.env.work_dir}/data/high_LD_regions/high-LD-regions-hg38-GRCh38.tsv"
    good_mappability_regions = "${System.env.work_dir}/data/good_mappability_regions/GRCh38.d1.vd1.mappability_75bp_1_22_XY_woblacklist.tsv"
    original_continuous_phenotype = "${System.env.work_dir}/data/degasperi_cosmic_exposures/RefSig_SBS_Exposures_v2.03__mutburden_norm.tsv" //__SBS1_norm.tsv"


	// parameter values

	bcftools_threads = 4
	qc_geno = 0.1
	qc_maf = 0.01
	qc_hwe = 1e-15
	qc_mind = 0.1
	qc_het_SD = 3
	prune_window_size = 1000000
	prune_step_size = 100
	prune_r2 = 0.9
    PCs_ancestry_clustering = 10
    clustering_outliers_trimmed = 0.01
    clustering_restriction_factor = 1
    PCs_covariates = 20
    clump_p1 = 1e-5
    clump_kb = 500
    clump_r2 = 0.5
    thr_signif_pval = 1e-20


	// time, memory, and partition per process demands

    time_4h = 4	// short
    time_10h = 10 // medium
    time_1d = 24 // long
    time_2d = 48 // very long
    memory_700M = 0.7 // low
    memory_4G = 4 // medium
    memory_10G = 10 // high
    memory_50G = 50 // very high
	partition_fast_short = "${System.env.partition_fast_short}"
	partition_slow_long = "${System.env.partition_slow_long}"
	partition_slowest_unlimited = "${System.env.partition_slowest_unlimited}"
}

